h1 {
    text-align: center;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
p  {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center
}
h2  {padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center

}

h3  {padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center

}

#firstSection1  {
    background-color: antiquewhite;
}
#secondSection  {
    background-color: antiquewhite;
}