h1 {
    text-align: center;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
p  {
    padding-top: px;
    padding-right: px;
    padding-bottom: px;
    padding-left: px;
    font-size: ;
}