h1 {
    text-align: center;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
h2 {
    text-align: left;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
li  {
    padding-top: 25px;
    padding-right: 250px;
    padding-bottom: 25px;
    padding-left: 250 px;
    font-size: ;
}